body {
    #doug {
        .pic {
            @include grid-prefix(3,16);
            @include grid(4,16);
            text-align: left;
            margin-top: 50px;

            img {
                border: 1px solid black;
            }
        }

        .text {
            @include grid(6,16);

            h2 {
                margin-top: 0px;
            }
        }
    }

    #kate {
        .text {
            @include grid-prefix(3,16);
            @include grid(6,16);

            h2 {
                margin-top: 0px;
            }
        }

        .pic {
            @include grid(4,16);
            text-align: right;
            margin-top: 50px;

            img {
                border: 1px solid black;
            }
        }
    }
}
