$attendant-highlight-color: #ddebf6;

body {
    #attendant_header {
        @include grid-prefix(3,16);
        @include grid(13,16);
        margin-top: 36px;
    }

    #attendant_list {
        @include grid-prefix(3,16);
        @include grid(4,16);

        h2 {
            margin-top: 24px;
        }

        ul {
            margin-top: 6px;

            li {
                padding-top: 6px;
                padding-bottom: 6px;
                padding-left: 12px;

                .name {
                    font-size: 120%;
                }

                .relation {
                    font-style: italic;
                    margin-top: 2px;
                }
            }

            li:hover {
                background-color: $attendant-highlight-color;
            }
        }
    }

    #attendant_detail {
        @include grid(6,16);
        margin-top: 24px;

        .pic {
            text-align: center;

            img {
                border: 1px solid black;
            }
        }
    }
}
