body {
    #front_pic {
        @include grid(16,16);
        margin-top: 42px;
        text-align: center;

        img {
            border: 1px solid #000;
        }

        .copyright {
            text-align: right;
            padding-right: 95px;
            height: 13px;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 11px;
        }
    }
}
