body {
    #header {
        @include grid(16,16);
        height: 46px;
        font-family: StMarieThin;
    }

    #header #date {
        @include grid(6,16);
        @include alpha;
        text-align: right;
        height: 20px;
        padding-top: 26px;
    }

    #header #logo {
        @include grid(4,16);
    }

    #header #logo #logo {
        position: relative;
        left: 30px;
        top: 0px;
        z-index: 2;
        width: 160px;
        height: 160px;
        margin: 0;
        background-image: url(/images/heart.png);
        background-repeat: no-repeat;
        background-position: center top;
    }

    #header #location {
        @include grid(6,16);
        @include omega;
        text-align: left;
        height: 20px;
        padding-top: 26px;
    }
}
