$name-padding: 12px;

body {
    #names {
        @include grid(16,16);
        background: white;
        padding-top: $name-padding;
        padding-bottom: $name-padding;
        text-transform: uppercase;
        font-size: 200%;
    }

    #names #left {
        @include grid(6,16);
        @include alpha;
        text-align: right;
    }

    #names #right {
        @include grid-prefix(4,16);
        @include grid(6,16);
        @include omega;
        text-align: left;
    }
}
