  <div id="attendant_list">
    <h2>Bridesmaids</h2>
    <ul>
      <li>
        <a href="/attendants/mary/">
          <div class="name">Mary Beth Constantino</div>
          <div class="relation">Sister of the Bride</div>
        </a>
      </li>
      <li>
        <a href="/attendants/mal/">
          <div class="name">Mallory Coppenrath</div>
          <div class="relation">Cousin of the Bride</div>
        </a>
      </li>
      <li>
        <a href="/attendants/jen/">
          <div class="name">Jen Constantino</div>
          <div class="relation">Sister-in-law of the Bride</div>
        </a>
      </li>
      <li>
        <a href="/attendants/barb/">
          <div class="name">Barbara Dziokonski</div>
          <div class="relation">Friend of the Bride</div>
        </a>
      </li>
      <li>
        <a href="/attendants/katie/">
          <div class="name">Katie Janda</div>
          <div class="relation">Friend of the Bride</div>
        </a>
      </li>
    </ul>

    <h2>Groomspeople</h2>
    <ul>
      <li>
        <a href="/attendants/rich/">
          <div class="name">Rich Hanna</div>
          <div class="relation">Friend of the Groom</div>
        </a>
      </li>
      <li>
        <a href="/attendants/rachel/">
          <div class="name">Rachel Creager-Allen</div>
          <div class="relation">Sister of the Groom</div>
        </a>
      </li>
      <li>
        <a href="/attendants/kevin/">
          <div class="name">Kevin Schmidt</div>
          <div class="relation">Friend of the Groom</div>
        </a>
      </li>
      <li>
        <a href="/attendants/mike/">
          <div class="name">Mike Bonnet</div>
          <div class="relation">Friend of the Groom</div>
        </a>
      </li>
      <li>
        <a href="/attendants/kevinc/">
          <div class="name">Kevin Constantino</div>
          <div class="relation">Brother of the Bride</div>
        </a>
      </li>
    </ul>

  </div>
