@import "compass/utilities/general/reset";
@import "compass/utilities/general/clearfix";
@import "960/grid";

@import "partials/fonts";

$site-background-color: #f8dada;
$site-border-color: #fff;

@include global-reset;

/*********************************************************************/

body {
    background: $site-background-color;
    font-family: "Gentium Basic", Gentium, Palatino, Georgia, serif;

    #container {
        @include grid-system(12);
        @include clearfix;
        @include grid-children;
    }

    #header-date {
        @include grid(6,16);
        text-align: right;
        margin-top: 10px;
    }

    #header-location {
        @include grid-prefix(4,16);
        @include grid(6,16);
        text-align: left;
        margin-top: 10px;
    }

    #footer {
    }

    #content {
        @include grid(16,16);
        border: 1px solid blue;
        margin-top: 10px;
    }
}
