@import "compass/utilities/general/reset";
@import "compass/utilities/general/clearfix";
@import "compass/utilities/links";
@import "960/grid";

@import "partials/fonts";

$site-background-color: #c2e0f6;

@include global-reset;

/*********************************************************************/

body {
    background: $site-background-color;
    font-family: "Gentium Basic", Gentium, Palatino, Georgia, serif;

    #container {
        @include grid-system(16);
        @include clearfix;
        @include grid-children;
    }

    #footer {
    }

    #content {
        @include grid(16,16);
        //border: 1px solid blue;
        margin-top: 10px;
    }

    #body {
        @include grid-prefix(4,16);
        @include grid(8,16);
        margin-top: 36px;
    }

    h1 {
        font-size: 140%;
        font-weight: bold;
    }

    h2 {
        font-size: 120%;
        font-weight: bold;
        margin-top: 18px;
    }

    p {
        margin-top: 12px;
        text-align: justify;
        line-height: 115%;
    }

    dl {
        margin-top: 12px;

        dt {
            margin-top: 9px;
            margin-left: 24px;
        }

        dd {
            margin-left: 48px;
        }
    }
}

a {
    text-decoration: underline;
    @include link-colors(#a40802, #f02311);
}

/*********************************************************************/

@import "partials/about";
@import "partials/attendants";
@import "partials/front";
@import "partials/headers";
@import "partials/lodging";
@import "partials/names";
@import "partials/navbar";
@import "partials/our-story";
